


<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css')}}">

<div class="w3-contenair w3-card-4 w3-round-xlarge w3-panel w3-gray " style="margin-right:1% ;margin-left: 1%;max-height: 650; ">
   <br>
   <p><label for="" class="w3-text-white"> Non du conducteur: <span class="w3-text-yellow">{{details[0]}}</span> </label></p>
   <p> <label for=""class="w3-text-white"> Propriétaire: <span class="w3-text-yellow">aucune</span></label></p>
   <p> <label for=""class="w3-text-white"> cout de contribution: <span class="w3-text-yellow">{{details[1]}} Fc</span></label></p>
 
 
  
</div>

 
 
 <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

 