<!DOCTYPE html>
<html>
<head>
  <title>Biographie de Messie Kuetutinina</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css')}}">
  <style>
    /* Styles personnalisés si nécessaires */
  </style>
</head>
<body>
  <div class="w3-container">
    <h1>Messie Kuetutinina</h1>
    <p class="w3-opacity">Concepteur Polyvalent et Innovateur Technologique</p>
  </div>

  <div class="w3-container">
    <h2>À Propos</h2>
    <p>
      Messie Kuetutinina est un professionnel polyvalent dans le domaine de la technologie, avec une formation académique en physique électronique. Originaire du Kongo Central en République Démocratique du Congo, Messie a acquis des compétences diversifiées en informatique grâce à une formation autodidacte et des cours en ligne.
    </p>
  </div>

  <div class="w3-container">
    <h2>Expérience Professionnelle</h2>
    <p>
      <strong>Startup de Maintenance Informatique</strong><br>
      - Maintenance d'ordinateurs et réparation de smartphones et de téléphones génériques.<br>
      <br>
      <strong>Ingénieur Technicien chez Ngenge Sport</strong><br>
      - Contribution à des projets technologiques innovants.
    </p>
  </div>

  <div class="w3-container">
    <h2>Compétences</h2>
    <ul class="w3-ul">
      <li>Développement de Sites Web</li>
      <li>Intelligence Artificielle</li>
      <li>Systèmes Embarqués (Automatisation, Domotique)</li>
      <li>Développement d'Applications Mobiles (C# Xamarin et Maui)</li>
    </ul>
  </div>

  <div class="w3-container">
    <h2>Philosophie de Conception</h2>
    <p>
       ?????????????????????????????????????????????????????????????????????????????????????????????
    </p>
  </div>
</body>
</html>
